.header {
    height: 30px;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.left-header {
    width: 230px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.middle-header {
    flex: 0 1 732px;
    min-width: 0;
    display: flex;
    align-items: center;
}

.right-header {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    padding-left: 50px;
    flex-shrink: 0;
}

.menu-icon {
    width: 23px;
    margin-top: 4px;
    padding-right: 20px;
    
}

.youtube-logo {
    width: 90px;
}

.search {
    display: flex;
    height: 35px;
    flex: 1;
}

.search-box {
    flex: 1;
    font-size: 15px;
    border-style: solid;
    border-color: rgb(37, 37, 37);
    background-color: black;
    border-radius: 40px 0 0 40px;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.15);
    width: 0;
    color: white;
    padding-left: 10px;
    z-index: 1;
}

.search-icon-button {
    width: 40px;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(37, 37, 37);
    background-color: rgb(37, 37, 37);
    border-radius: 0 40px 40px 0;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.15);
    margin-left: -1px;
    margin-right: 15px;
}

.search-icon-button:hover .search-tooltip {
    opacity: 1;  
}


.search-icon-button .search-tooltip {
    position: absolute;
    background-color: rgb(117, 117, 117);
    color: white;
    width: 65px;
    height: 25px;
    font-size: 12px;
    border-radius: 5px;
    bottom: -50px;
    left: -12px;
    padding-top: 10px;
    opacity: 0;
    transition-delay: 0,15s;
    pointer-events: none;
}

.search-icon {
    width: 30px;
}

.youtube-logo:hover, .search-icon:hover, .guest-icon-button:hover {
    cursor: pointer;
}

.voice-icon-tooltip {
    position: absolute;
    color: white;
    background-color: rgb(117, 117, 117);
    width: 140px;
    height: 25px;
    border-radius: 5px;
    font-size: 12px;
    padding-top: 10px;
    bottom: -50px;
    left: -50px;
    opacity: 0;
    pointer-events: none;
    transition-delay: 0,15s;
}

.voice-icon-button:hover .voice-icon-tooltip{
    opacity: 1;
}

.voice-icon-button {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    border: none;
    background-color: rgb(37, 37, 37);
}

.voice-icon-button:hover {
    background-color: rgb(61, 61, 61);
    cursor: pointer;
}

.menu-icon-button {
    margin-left: 20px;
}

.menu-icon-button, .upload-icon-button, .notification-icon-button, .guest-icon-button {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    border: none;
    background-color: black;
    margin-right: 10px;
}

.upload-icon-tooltip {
    position: absolute;
    color: white;
    background-color: rgb(117, 117, 117);
    width: 40px;
    height: 25px;
    border-radius: 5px;
    font-size: 12px;
    padding-top: 10px;
    bottom: -50px;
    left: -3px;
    opacity: 0;
    pointer-events: none;
    transition-delay: 0,15s;
}

.upload-icon-button:hover .upload-icon-tooltip{
    opacity: 1;
}

.notification-icon-tooltip {
    position: absolute;
    color: white;
    background-color: rgb(117, 117, 117);
    width: 60px;
    height: 25px;
    border-radius: 5px;
    font-size: 12px;
    padding-top: 10px;
    bottom: -50px;
    left: -11px;
    opacity: 0;
    pointer-events: none;
    transition-delay: 0,15s;
}

.notification-icon-button:hover .notification-icon-tooltip{
    opacity: 1;
}

.notification-count {
    position: absolute;
    background-color: rgb(228, 3, 3);
    color: white;
    width: 20px;
    height: 15px;
    font-size: 12px;
    border-radius: 12px;
    top: 3px;
    right: -3px;
}

.menu-icon-button:hover, .upload-icon-button:hover, .notification-icon-button:hover {
    background-color: rgb(44, 44, 44); 
    transition-duration: 0,15s;
    cursor: pointer;
}

.voice-icon {
    width: 19px;
    margin-top: 4px;
}

.upload-icon, .notification-icon {
    width: 23px;
    margin-top: 2px;
}

.guest-icon-button {
    width: 100%;
    height: 100%
}

.guest-icon {
    width: 28px;
    background-color: rgb(61, 61, 61);
    border-width: 1;
    border-color: rgb(37, 37, 37);
    border-radius: 20px
}